* {
	color: #985a89;
	font-family: 'Lobster', cursive;
}

#blank {
	height: 200px;	
}

body {
	color: #dbcad7;
	font-family: 'Lobster', cursive;
	background: linear-gradient(270deg, #dbcad7, #bf8cb3, #985a89);
	background-size: 600% 600%;
	animation: AnimationName 47s ease infinite;
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.firstColumn div {
	height: 200px;
	}

img {
    height: 100%;
    width: 100%; 
    object-fit: contain;
}
.panel1, .panel2 {
	font-size: 20px;
	text-align: center;
}

.secondColumn {
	text-align: center;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* #dbcad7 w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and cente#dbcad7 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


.time, .go {
	padding: 30px;
	display: flex;
	justify-content: center;
}


#timer {
	display: inline-block;
    padding: 30px;
	border: 3px solid #dbcad7;
	background-color: beige; 
	color: #985a89;
	font-size: 30px;
}

.second-row {
	border-top: 4px solid #dbcad7; 
	border-bottom: 4px solid #dbcad7;
}

.upper-left {
	border-right: 4px solid #dbcad7;
}


.middle {
	border-right: 4px solid #dbcad7;
	border-left: 4px solid #dbcad7; 
}

.bottom-right {
	border-left: 4px solid #dbcad7;
}

.bottom-left {
	border-right: 4px solid #dbcad7;
}

.upper-right {
	border-left: 4px solid #dbcad7;
}

.times {
	display: flex;
	flex-direction: column;
	align-items: space-around;
}

.grids {
	display: flex;
	flex-direction: column;
	align-items: space-around;	
}

.names {
	display: flex;
	flex-direction: column;
	align-items: space-around;
}

.playersNames {
	color: #985a89;
	font-size: 15px;
	background-color: #dbcad7; 
}

#board4 {
	display: none;
}

.secondRow {
	border-top: 4px solid #dbcad7; 
	border-bottom: 4px solid #dbcad7;
}

.thirdRow {
	border-bottom: 4px solid #dbcad7;
}

.i1, .i2, .i3, .i5, .i6, .i7, .i9, .i10, .i11, .i13, .i14, .i15  {
	border-right: 4px solid #dbcad7;
} 

.callModal, .closeButton {
	display: flex;
	justify-content: center;
}